<div class="container">
    <h1>MoneyTransferApp</h1>

    <% case @show_page %>
    <% when :transaction %>
        <%= render partial: 'partials/transaction', locals: { transaction: @transaction } %>
    <% when :topup %>
        <%= render partial: 'partials/topup', locals: { account_top_up: @account_top_up } %>
    <% when :register %>
        <%= render partial: 'partials/register', locals: { user: @user } %>
    <% when :login %>
        <%= render partial: 'partials/login', locals: { user: @user } %>
    <% when :dashboard %>
        <%= render partial: 'partials/dashboard', locals: { user: @user } %>
    <% else %>
        <div id="empty">
            <h2>Empty Page</h2>
        </div>
    <% end %>
</div>
